<?xml version="1.0" encoding="utf-8" ?>
<LanguageData>
    <RandomVegetablesSummary>Random batch of edible, farm-grown vegetables x{0}</RandomVegetablesSummary>
    <RandomVegetablesSliderLabel>Number of random batches of edible, farm-grown vegetables: {0}</RandomVegetablesSliderLabel>
    <RandomSeedBundlesSummary>Random seed bundle of edible vegetables x{0}</RandomSeedBundlesSummary>
    <RandomSeedBundlesSliderLabel>Number of random seed bundles of edible vegetables: {0}</RandomSeedBundlesSliderLabel>
</LanguageData>        